body {
  background-color: lightblue;
}

h1 {
  background-color: green;
}

.lamba {
  float: left;
  /* overflow:   */
  /* width: min-content; */
  width: 250px;
  height: fit-content;
  /* display: inline-block; */
}

.open {
  background-color: rgb(235, 231, 11);
}

.close {
  background-color: black;
}

img {
  filter: invert(100%);
  width: inherit;
  /* height:inherit; */
  position: relative;
  /* transform: translateY(-50%); */
}
/* 
.responsive {
    max-width: 100px;
    height: 100px;
  } */

p {
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;

  /* background-color: white; */
}
