<!-- <style src='css/style.css'></style> -->
<link rel="stylesheet" href="/css/style.css" />
<h1>
  home page
</h1>


<% var arrayValued; %>
<% arrayValued.forEach((element) => { %> 
    <%let index = element.number%>
<a href="/change/<%=index%>"  >
    <% if ( !element.status) { %>
        <div id="lambaID<%=index%>" class="lamba close"  >
    <%} else {%>
        <div id="lambaID<%=index%>" class="lamba open">
    <% } %> 
        <img src="/images/bulb.png" />
        <p>lamba <%=index%></p>
    </div>
</a>
<%});%> 
